*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-marign: 4rem;
  --color-primary: hsl(243, 95%, 39%);
  --secondary-color: white;
}

body {
  margin: var(--body-marign);
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: rgb(239, 245, 250);
}

.container {
  display: flex;
  height: calc(100vh - (var(--body-marign) * 2));
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0,.2);
}

.container > aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 20%;
}

.logo {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo > img {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  position: relative;
}

.forground > header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forground > header > a {
  text-decoration: none;
  color: inherit;
  flex-grow: 2;
}

.hamburger {
  fill: white;
}

.forground {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: relative;
  z-index: 10;
  padding: 0 4rem;
}

.forground > header > nav {
  flex-grow: 1;
}

.forground > header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forground > main {
  height: 90%;
}

.site-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-primary);
  padding: 0 4rem;
  clip-path: (0 0 0 0);
  z-index: -1;
  transition: clip-path 500ms ease;
}

.main-heading {
  font-size: 4rem;
  width: 40%;
}

.details {
  width: 30%;
}

.navigation-grid {
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  padding: 0 4rem;
  clip-path: inset(0 100% 0 0);
  z-index: -1;
  transition: clip-path 500ms ease;
}

.forground > header,
.forground > footer {
  z-index: 100;
}

.menu-item > ul {
  list-style-type: none;
  padding: 20px;
  line-height: 02rem;
}

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-bg > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-show-menu] > .forground > main > .site-content {
  clip-path: inset(0 100% 0 0);
}

[data-show-menu] > .forground > main > .navigation-grid {
  clip-path: inset(0 0 0 0);
}

[data-show-menu] > .forground > header > a > .hamburger {
  fill: black;
}

[data-show-menu] > .forground > header > nav {
  color: black;
}
